---
import { getNowPlaying } from '@/utils/tmdb'
import Layout from '@/layouts/Layout.astro'
import Discover from '@/components/Media/Discover.astro'
import { Trending } from '@/components/Content/Trending'
import { Movies } from '@/components/Content/Movies'
import { TVShows } from '@/components/Content/TVShows'
import { Watching } from '@/components/Content/Watching'

const nowPlaying = await getNowPlaying()

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=60, stale-while-revalidate=30'
)
---

<Layout
  title='Wovie - Watch Movies & TV Shows Free'
  description='Watch movies and tv shows online'
  image='https://wovie.vercel.app/og.png'
>
  <Discover discover={nowPlaying.results} />
  <div class='-my-[--discover-space] sm:pb-8'>
    <Trending client:load />
    <Watching client:load />
    <Movies client:load />
    <TVShows client:load />
  </div>
</Layout>

<script is:inline data-astro-rerun>
  function findLastIndex(arr, callback) {
    // Polyfill for findLastIndex
    for (var i = arr.length - 1; i >= 0; i--) {
      if (callback(arr[i], i, arr)) {
        return i
      }
    }
    return -1
  }

  function isElementInViewport(el, container) {
    if (!el || !container) return false

    var rect = el.getBoundingClientRect()
    var containerRect = container.getBoundingClientRect()

    return (
      rect.top >= containerRect.top &&
      rect.left >= containerRect.left &&
      rect.bottom <= containerRect.bottom &&
      rect.right <= containerRect.right
    )
  }

  function createSwiper(root, findLast) {
    if (!root) return

    var swiper = root.querySelector('.swiper')
    var buttons = Array.prototype.slice.call(
      root.querySelectorAll('.swiper-button')
    )

    buttons.forEach(function (el) {
      var isLeftButton = el.classList.contains('swiper-left')

      el.addEventListener('click', function () {
        var items = swiper.querySelectorAll('.swiper-item')
        var elements = Array.prototype.slice.call(items)
        var lastIndex = elements.length - 1
        var activeItemIndex =
          isLeftButton || !findLast
            ? elements.findIndex(function (el) {
                return isElementInViewport(el, swiper)
              })
            : findLastIndex(elements, function (el) {
                return isElementInViewport(el, swiper)
              })

        if (activeItemIndex === -1) return

        var newItemIndex = isLeftButton
          ? activeItemIndex === 0
            ? lastIndex
            : activeItemIndex - 1
          : activeItemIndex === lastIndex
            ? 0
            : activeItemIndex + 1

        items[newItemIndex].scrollIntoView({
          behavior: 'smooth',
          block: 'nearest',
          inline: 'center',
        })
      })
    })
  }

  var discover = document.querySelector('#discover')
  var tvTrending = document.querySelector('#trending')
  var watching = document.querySelector('#watching')

  createSwiper(tvTrending, true)
  createSwiper(watching, true)
  createSwiper(discover)
</script>
