---
import { Clapperboard, Flame, Popcorn, Tv } from 'lucide-astro'
import { getNowPlaying } from '@/utils/tmdb'
import Layout from '@/layouts/Layout.astro'
import Discover from '@/components/Media/Discover.astro'
import MediaList from '@/components/Media/MediaList.astro'
import MediaGrid from '@/components/Media/MediaGrid.astro'
import Watching from '@/components/Home/Watching.astro'
import Movies from '@/components/Home/Movies.astro'
import TVShows from '@/components/Home/TVShows.astro'
import { MediaCardLoader, MediaPostsLoader } from '@/components/Loader'
import Trending from '@/components/Home/Trending.astro'

const [nowPlaying] = await Promise.all([getNowPlaying()])

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=60, stale-while-revalidate=30'
)
---

<Layout
  title='Wovie - Watch Movies & TV Shows Free'
  description='Watch movies and tv shows online'
  image='https://wovie.vercel.app/og.png'
>
  <Discover discover={nowPlaying.results} />
  <div class='-my-[--discover-space] sm:pb-8'>
    <MediaList id='trending' title="What's Trending Today">
      <Flame slot='icon' width='18' height='18' fill='#000' stroke='#000' />
      <Trending server:defer>
        <MediaCardLoader slot='fallback' />
      </Trending>
    </MediaList>
    <MediaList id='watching' title='Continue Watching'>
      <Popcorn slot='icon' width='18' height='18' stroke='#000' />
      <Watching server:defer>
        <MediaCardLoader slot='fallback' />
      </Watching>
    </MediaList>

    <MediaGrid title='Movies'>
      <Clapperboard slot='icon' width='18' height='18' stroke='#000' />
      <Movies server:defer>
        <MediaPostsLoader slot='fallback' />
      </Movies>
    </MediaGrid>
    <MediaGrid title='TV Shows'>
      <Tv slot='icon' width='18' height='18' stroke='#000' />
      <TVShows server:defer>
        <MediaPostsLoader slot='fallback' />
      </TVShows>
    </MediaGrid>
  </div>
</Layout>

<script is:inline data-astro-rerun>
  function findLastIndex(arr, callback) {
    // Polyfill for findLastIndex
    for (var i = arr.length - 1; i >= 0; i--) {
      if (callback(arr[i], i, arr)) {
        return i
      }
    }
    return -1
  }

  function isElementInViewport(el, container) {
    if (!el || !container) return false

    var rect = el.getBoundingClientRect()
    var containerRect = container.getBoundingClientRect()

    return (
      rect.top >= containerRect.top &&
      rect.left >= containerRect.left &&
      rect.bottom <= containerRect.bottom &&
      rect.right <= containerRect.right
    )
  }

  createSwiper = function createSwiper(root, findLast) {
    if (!root) return

    var swiper = root.querySelector('.swiper')
    var buttons = Array.prototype.slice.call(
      root.querySelectorAll('.swiper-button')
    )

    buttons.forEach(function (el) {
      var isLeftButton = el.classList.contains('swiper-left')

      el.addEventListener('click', function () {
        var items = swiper.querySelectorAll('.swiper-item')
        var elements = Array.prototype.slice.call(items)
        var lastIndex = elements.length - 1

        var activeItemIndex =
          isLeftButton || !findLast
            ? elements.findIndex(function (el) {
                return isElementInViewport(el, swiper)
              })
            : findLastIndex(elements, function (el) {
                return isElementInViewport(el, swiper)
              })

        if (activeItemIndex === -1) return

        var newItemIndex = isLeftButton
          ? activeItemIndex === 0
            ? lastIndex
            : activeItemIndex - 1
          : activeItemIndex === lastIndex
            ? 0
            : activeItemIndex + 1

        items[newItemIndex].scrollIntoView({
          behavior: 'smooth',
          block: 'nearest',
          inline: 'center',
        })
        console.log('Scrolled')
      })
    })
  }

  var discover = document.querySelector('#discover')
  var tvTrending = document.querySelector('#trending')
  var watching = document.querySelector('#watching')

  createSwiper(tvTrending, true)
  createSwiper(watching, true)
  createSwiper(discover)
</script>
