---
import { Clapperboard, Flame, Tv } from 'lucide-astro'
import { getNowPlaying, getTrending } from '@/utils/tmdb'
import Layout from '@/layouts/Layout.astro'
import Discover from '@/components/Discover.astro'
import MediaList from '@/components/MediaList.astro'
import MediaGrid from '@/components/MediaGrid.astro'

const [nowPlaying, trending, trendingMovies, trendingTV] = await Promise.all([
  getNowPlaying(),
  getTrending('all'),
  getTrending('movie'),
  getTrending('tv'),
])
---

<Layout title='Wovie - Watch Movies & TV Shows Free'>
  <Discover discover={nowPlaying.results} />
  <div class='-my-[--discover-space] sm:pb-8'>
    <MediaList
      id='trending'
      results={trending.results}
      title="What's Trending Today"
    >
      <Flame slot='icon' width='18' height='18' fill='#000' stroke='#000' />
    </MediaList>
    <MediaGrid results={trendingMovies.results} title='Movies' media='movie'>
      <Clapperboard slot='icon' width='18' height='18' stroke='#000' />
    </MediaGrid>
    <MediaGrid results={trendingTV.results} title='TV Shows' media='tv'>
      <Tv slot='icon' width='18' height='18' stroke='#000' />
    </MediaGrid>
  </div>
</Layout>

<script>
  import { createSwiper } from '@/utils'

  const tvTrending = document.querySelector('#trending')

  createSwiper(tvTrending, true)
</script>
