<footer
  class='mt-[--discover-space] w-full bg-gradient-to-t from-black/60 to-black/5'
>
  <div
    class='flex h-full w-full flex-col items-center justify-between gap-4 p-4 pb-6 sm:flex-row sm:px-12'
  >
    <div class='flex flex-col gap-3 font-normal tracking-wide'>
      <div class='font-medium text-white'>Welcome to Wovie</div>
      <div class='flex flex-col gap-2 text-xs text-white/70 2xl:text-sm'>
        <p>
          This site does not store any files on our server, we only linked to
          the media which is hosted on 3rd party services.
        </p>
        <p>Copyright @Wovie {new Date().getFullYear()}</p>
      </div>
    </div>
  </div>
</footer>
