---
import {
  getSource,
  getSourceIcon,
  getUrlWithSource,
  SOURCES,
} from '@/utils/sources'
import { Image } from 'astro:assets'
import { Info } from 'lucide-astro'

const currentSource = getSource(Astro.url.searchParams.get('source'))
---

<div class='w-full rounded-2xl bg-white/10 p-2'>
  <div class='flex items-center !gap-2 p-1'>
    <span class='text-lg font-medium tracking-wide sm:text-xl'> Sources </span>
  </div>
  <div class='custom-scrollbars flex w-full gap-x-2 overflow-x-scroll p-2'>
    {
      SOURCES.map(source => (
        <a
          class:list={[
            'relative flex shrink-0 cursor-pointer items-center gap-2 rounded-lg bg-black/60 p-2 text-sm leading-tight tracking-wide text-white ring-primary-500 hover:ring-1',
            source.id === currentSource.id ? 'ring-1' : '',
          ]}
          href={getUrlWithSource(Astro.url, source.id)}
        >
          <span>
            <Image
              height='100'
              width='100'
              alt={source.name}
              src={getSourceIcon(source.id)}
              loading='lazy'
              class='size-4 object-cover'
            />
          </span>
          <span class='text-sm'>{source.name}</span>
        </a>
      ))
    }
  </div>
  <div
    class='mt-2 flex w-fit items-center gap-2 rounded-lg bg-white/20 p-2 text-gray-300 md:mt-0'
  >
    <Info class='size-5 shrink-0' />
    <p class='text-sm'>
      We recommend using an adblocker, some of the sources may include their own
      ads.
    </p>
  </div>
</div>
