---
export interface Props {
  title: string
  class?: string
}

const { title, class: className } = Astro.props

const showIcon = Astro.slots.has('icon')
---

<div class:list={['flex w-full flex-col gap-6 p-4 sm:px-12', className]}>
  <div class='z-10 flex w-full items-center gap-2 py-1'>
    {
      showIcon && (
        <div class='flex size-6 items-center justify-center rounded bg-primary-500'>
          <slot name='icon' />
        </div>
      )
    }
    <h2 class='text-lg font-medium tracking-wide text-white md:text-2xl'>
      {title}
    </h2>
  </div>
  <slot />
</div>
